* {
    /* обнуляем все отступы по умолчанию (внешние и внутренние) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* для удобства изменяем алгоритм расчета ширины и высоты элемента */
}

body {
    /* задаем нашей странице ширину и высоту на все окно браузера */
    width: 100%;
    height: 100vh;
    /* цвет фона страницы */
    background-color: rgb(106, 187, 187);
    /* назначаем наш страницу flex-контейнером */
    display: flex;
    /* располагаем нашу форму по центру страницы */
    justify-content: center;
    align-items: center;
}

.form-user-registration {
    /* задаем нашей форме ширину и минимальную ширину для адаптивного дизайна */
    width: 40%;
    min-width: 300px;
    /* задаем для формы границу, закругление */
    border: 2px outset rgb(163, 204, 199);
    border-radius: 10px;
    /* цвет фона формы */
    background-color: rgb(224, 241, 241);
    /* назначаем наш div для формы flex-контейнером, чтобы расположить в нем элементы формы */
    display: flex;
    flex-direction: column;
    /* внутренние отступы формы */
    padding: 10px;
}

.div-fieldset {
    /* назначаем наш контейнер для инпутов Фамилия и Имя flex-контейнером, чтобы выровнять поля ввода фамилии и имени по вертикали */
    display: flex;
    /* выпавнивание полей в колонку, т.е. по вертикали */
    flex-direction: column;
    /* задаем внешние отступы от края границы */
    margin: 6px;
}

.subscribe {
    /* назначаем наш контейнер для для двух филдсетов Пол и Рассылка flex-контейнером, чтобы расположить оба филсета горизонтально */
    display: flex;
    /* распределяем наши элементы (филдсеты) по ширине контейнера */
    justify-content: space-between;
    /* задаем внешние отступы только сверху и снизу */
    margin: 6px 0px;
    /* задаем отступы между двумя филдсетами в нашем конейнере */
    gap: 2%;
}

.user-gender,
.user-subscribe {
    /* задаем наполнение двухфилдсетов в контейнере */
    flex-basis: 50%;
}

.div-radio,
.div-checkbox {
    /* создаем флекс-контейнер для каждого дива радио и чекбокса и выравниваем внутри него значки и текст по горизонтальной направляющей и центрируем по вертикали */
    display: flex;
    align-items: center;
    /* добавляем внешние отступы между инпутами радио и чекбокс соответственно */
    margin: 3px;
    /* задаем отступы между значком и текстом */
    gap: 8px;
}

input[type="text"] {
    /* задаем высоту поля ввода имени и фамилии, внутренние и внешние отступы */
    height: 30px;
    padding: 8px;
    margin: 4px;
}

.button {
    /* назначаем контейнер для кнопки отправки flex-контейнером, чтобы центрировать ее в нашей форме */
    display: flex;
    /* центрируем кнопку */
    justify-content: center;
    /* добавляем внешние отступы */
    margin: 8px;
}

button {
    /* для кнопки отправки данных задаем цвет фона, ширину, высоту, границу и радиус */
    background-color: rgb(211, 211, 211);
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

legend {
    /* задаем шрифт для текста названий филдсетов */
    font-size: large;
    /* добавляем отступ от левого края */
    margin-left: 10px;
}

fieldset {
    /* увеличиваем толщину обводки филдсетов */
    border-width: 4px; 
}