* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Стили для верхней панели навигации */

.navbar {
    background-color: lightblue;
    padding: 12px;
    display: flex;
    align-items: center;
}

/* Стили для бокового навигационного меню */
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;

    /* По умолчанию меню скрыто за счет смещения на 100% влево */
    transform: translateX(-100%);
    background-color: lightpink;
    width: 320px;
    min-height: 100vh;
    height: 100%;

    /* Полоса прокрутки */
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;

    /* Плавная анимация при изменении transform */
    transition: all 0.2s linear;
    padding: 12px;
}

/* Класс, который делает меню видимым (открытым) */
.nav-menu--open {
    transform: translateX(0%);

    /* Добавляем небольшую тень для визуального разделения меню от контента */
    box-shadow: 4px 0px 4px 0px #00000080;
}

/* Стили для кнопки закрытия меню */
#closeButton {
    align-self: flex-end;
    cursor: pointer;
}

/* Стили для элементов меню */
.nav-menu__item {
    background-color: peachpuff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
}



/* Стили для кнопки открытия меню */
#openButton {
    cursor: pointer;
}

/*-------------------*/
/* Стили для вложенного меню */

.dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.dropdown-menu--open {
    display: flex;
}

.nav-menu__dropdown {
    width: 80%;
    background-color: peachpuff;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.nav-menu__dropdown a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(250, 48, 78);
}

/* Стили при наведении курсора на пункты меню */
.nav-menu__item:hover,
.nav-menu__dropdown:hover {
    background-color: rgb(253, 190, 136);
    box-shadow: 4px 0px 4px 0px #00000060;
}