* {
    /* обнуляем все отступы по умолчанию (внешние и внутренние) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* для удобства изменяем алгоритм расчета ширины и высоты элемента */
}

.box {
    /* задаем нашему контейнеру для карточек ширину и высоту на все окно браузера */
    width: 100%;
    height: 100vh;
    /* цвет фона страницы */
    background-color: rgb(186, 214, 186);
    /* назначаем наш контейнер "box" flex-контейнером */
    display: flex;
    /* распределяем карточки равномерно вдоль главной оси контейнера по всей ширине, при отступы от краев до карточек и между карточками равны   */
    justify-content: space-evenly;
    /* выравниваем карточки по поперечной оси по центру страницы */
    align-items: center;
     /* для адаптивности добавляем разрешение на перенос карточек на следующую строку */
    flex-wrap: wrap;
}

.flower-block {
    /* задаем цвет фона для карточки, границу и закругление для границы */
    background-color: rgb(109, 156, 109);
    border: 4px outset rgb(5, 87, 5);
    border-radius: 8px;
    /* задаем внешние и внутренние границы карточки */
    margin: 8px;
    padding: 8px;
    /* назначаем карточку flex-контейнером, чтобы оформить расположение картинки и текста внутри карточки */
    display: flex;
    /* картинка и текст располагаются колонкой, т.е. сверху вниз */
    flex-direction: column;
    /* выравниваем картинку и текст по центру (поперечная ось теперь в горизонтальном направлении) */
    align-items: center;
}

.flower-img {
    /* задаем размеры картинке */
    width: 225px;
    height: 300px;
}

.description {
    /* задаем параметры тексту */
    font-size: 24px;
    font-style: italic;
    /* задаем внешний отступ для текста */
    margin: 10px;
}