* {
    /* обнуляем все отступы по умолчанию (внешние и внутренние) */
    margin: 0;
    padding: 0;
}

body {
    /* цвет фона страницы */
    background-color: #2f4f4f;
    /* ширина станицы на всю ширину окна браузера */
    width: 100%;
    /* вытота станицы на всю высоту окна браузера */
    height: 100vh;
}

div {
    /* цвет фона формы авторизации */
    background-color: #609ea0;
    /* изменяем алгоритм расчета ширины и высоты элемента, включают в себя значения полей и границ, но не отступов */
    box-sizing: border-box;
    /* выравниваем наш контейнер посередине страницы (относительно body), отступы слева и справа подсчитывает браузер */
    margin-left: auto;
    margin-right: auto;
    /* задаем ширину контейнера (нашей формы авторизации) */
    width: 300px;
    /* задаем отступы внутри формы */
    padding: 8px;
    /* задаем отступ формы от верхнего края на высоту разницы половины высоты окна (body) и половины высоты нашей формы (div) */
    margin-top: calc(50vh - 116px);
}

/* задаем закругление границы для тех элементов через атрибут класса */
.border_radius_6px {
    border-radius: 6px;
}

h2 {
    /* задаем внешние отступы для заголовка снизу и сверху */
    margin: 10px 0px;
}

input {
    /* уменшаем шрифт текста для кнопок формы */
    font-size: 11px;
    /* задаем внешние отступы */
    margin: 3px;
}

input[type="text"],
input[type="password"] {
    /* для кнопок логина и пароля задаем ширину, высоту и внутренние отступы */
    width: 92%;
    height: 30px;
    padding: 6px;
}

input[type="submit"],
input[type="reset"] {
    /* для кнопок отправки данных и сброса задаем ширину и высоту */
    width: 47%;
    height: 36px;
}

input[type="reset"] {
    /* задаем цвет фона кнопки сброса */
    background-color: #f08080;
}

input[type="checkbox"] {
    /* меняем положение чекбокса при помощи внешних отступов */
    margin-top: 6px;
    margin-left: 25%;
    margin-right: auto;
}