* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 2000px;
}
.block {
    margin: 8px;
    padding: 4px;
}

.block h2{
    background-color: rgb(247, 211, 217);
    margin: 20px 0px;
    position: sticky;
    top: 0px;
}