* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* стилизируем кнопку */
.button-start {
    width: 200px;
    height: 40px;
    background-color: rgb(26, 94, 219);
    color: white;
    /* убираем границы по умолчанию */
    border: none;
    /* убираем цвет, стиль и толщину внешней границы по умолчанию, зависит от браузера */
    outline: none;
    border-radius: 10px;
    /* добавляем тень для кнопки */
    box-shadow: 2px 2px 5px rgb(110, 108, 108);
    text-align: center;
    font-size: large;
    margin: 20px;
    /* устанавливаем форму курсора, когда он находится в пределах кнопки */
    cursor: pointer;
    /* добавляем анимированный переход при смене состояний кнопки */
    transition: 0.5s ease-in-out;
}

/* курсор наведен на кнопку. При изменении состояния задаем другой стиль при помощи псевдокласса */
.button-start:hover {
    /* меняем цвет фона, цвет границы, цвет текста, цвет тени */
    background-color: whitesmoke;
    border: 2px solid rgb(26, 94, 219);
    color: rgb(26, 94, 219);
    box-shadow: 2px 2px 5px rgb(20, 51, 189);
}

/* момент взаимодействия, когда нажимаем на кнопку левой клавишей мыши. При изменении состояния задаем стиль при помощи псевдокласса */
.button-start:active {
    /* меняем цвет фона, цвет границы, цвет текста, цвет тени */
    background-color: rgb(223, 217, 224);
    border: 2px solid rgb(132, 26, 219);
    color: rgb(132, 26, 219);
    box-shadow: 2px 2px 5px rgb(47, 7, 85);
}
/* момент взаимодействия, когда нажимаем на кнопку левой клавишей мыши - при нажатии добавляем текст при помощи певдоэлемента */
.button-start:active::after {
    content: " - кнопка нажата";
}